.control
  .title= @repository.name
  %ul.links
    = tab repository_commits_path(@repository),               :repositories => :commits
    = tab repository_commit_file_path(@repository, 'master'), :repositories => :files

= render :partial => 'commit', :collection => @commits