.DS_Store
config/database.yml
config/repositories.yml
coverage/*
db/schema.rb
db/*.sqlite3
doc/app
doc/diagrams
log/*.log
tmp/*

vendor/gems/nokogiri-*/ext/*
vendor/gems/nokogiri-*/lib/nokogiri/native.bundle

public/stylesheets/*.css
