#repositories.grid

  .header
    %h3    Repositories
    .new=  link_to 'Create New Repository', { :action => 'new' }

  %table

    %tr
      %th Name
      %th Path
      %th Last Commit
      %th Commit Date
      %th

    - if @repositories.empty?

      %tr
        %td{ :colspan => 4 }
          No repositories found.

    = render @repositories
