@import util.sass

.grid

  a
    :color #0d3973
    :font-size 0.9em
    :font-weight bold

  .header
    +clearfix
    :border 1px #999 solid
      :bottom 0px
    :background #93c3ce
    :padding 5px 8px
    h3
      :margin 0
      :float left
    .new
      :float right
      :margin-top 3px
      :margin-right 3px
      
  table
    :width 100%
    :border 1px #999 solid
    :border-collapse collapse
    tr.odd
      :background #ddd
    tr.even
      :background #eee
    th, td
      :border 1px #999 solid
      :padding  6px 8px
        :bottom 4px
    th
      :background #bbb
      :text-align left
    td.label
      :font-weight bold
      :background #ccc
    td.field
      :background #eee
    tr.footer
      :background #999
      input
        :float right