@import util.sass

#navigation
  +clearfix
  :background-color #eee
  :border-bottom 1px #666 solid
  :margin-top -4px
  :width 1000px
  ul
    :list-style none
    :padding 0px
    :margin 0px
    li
      :margin  0px
  ul.left
    :float left
    li
      :float left
      :border-right 1px #999 solid
  ul.right
    :float right
    li
      :float right
      :border-left 1px #999 solid
  li
    a
      :background #ddd
      :height 2em
      :line-height 2em
      :float left
      :padding 0px 20px
        :top 2px
      :display block
      :color #000
      :text-decoration none
      :text-align center
      :font-weight bold
      &:hover
        :background #bbb
  li.active
    a
      :background #bbb