%ul.right
  %li= link_to 'Administration', { :controller => 'users' }

%ul.left
  %li= link_to 'Repositories', { :controller => 'repositories' }, { :class => 'active' }
  %li= link_to 'Pages',        { :controller => 'pages' }